<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="masthead mb-auto p-3">
        <div class="nav mb-auto p-1">
            <h3 class="masthead-brand"></h3>
            <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Главная</a>
                <a class="nav-link" href="/Players/PlayersList">Игроки</a>
                <a class="nav-link" href="/Matches/MatchesList">Матчи</a>
                <partial name="_LoginPartial" />
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer class="mastfoot mt-auto">
        <div class=" p-2 inner">
            <p>@DateTime.Now.Year </p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)


</body>
</html>
