<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body >
    <header class="masthead mb-auto p-3">
        <div>
            <h3 class="masthead-brand">@ViewBag.Title</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column container">
        @RenderBody()
    </div>


    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>fin</p>
        </div>
    </footer>
</body>
</html>
