@model Match


    <div class="col-lg-4 m-2 container">
        <h3>@{Model.Time.ToString();} против @{Model.Time.ToString();}</h3>
        <h4>@Model.Comment.ToString()</h4>
        <h5>Проведено: @Model.Time.ToString()</h5>
        <h4>Победитель: </h4>

    </div>