@model Players

@{

        string imgsrc;
            imgsrc = "/img/" + Model.Id.ToString() + ".png";       
    }

    <td>@Model.Alias.ToString()</td>
<td>@Model.Rating.ToString()</td>

<td><img src="@imgsrc" alt="" onerror="this.src = '/img/def.png';" class="img-responsive img-thumbnail mb-2" style="float:right; width:100px" /></td>

