@model HomeViewModel
@using Microsoft.AspNetCore.Http
@{
}
<div class="mt-5 mb-2 container">
    
    @if (Context.Session.GetString("LoggedPlayer") == null)
    { 
    <h1>Приветствуем, игрок.</h1>
    }
    else
    { 
<h1>Приветствуем, @Context.Session.GetString("LoggedPlayer").</h1>
    }
</div>