@{
    
}
    <div class="mt-5 container">
        <h1>Все игроки</h1>

        <table class="table table-striped" style="width:100%;" >
            <thead class="thead-light">
                <tr>
                    <th>Игрок</th>
                    <th>Рейтинг ELO:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (Players player in Model.GetAllPlayers)
                {
                    <tr>

                        @Html.Partial("AllPlayers", player)


                    </tr>
                }

            </tbody>
        </table>
    </div>