@{
    
}
    <div class="mt-5 mb-2 container">
        <h1>Все игроки</h1>
        @{
            //https://localhost:44364/Players/PlayersList
            foreach (Players player in Model.GetAllPlayers)
            {
                @Html.Partial("AllPlayers", player)
            }
        }
    </div>